/* CSS Document */
/* Colors and Fonts:

Nav Grey: #787878
Section 1 Red: #bf2128
Section 2 Green: #2dba63
Section 3 Blue: #326da8
Text White: #ededed

font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
*/ 

* {
	margin: 0;
	padding: 0;
	border: 0;
}

/* Header Styles */

nav {
	text-align: center;
	padding: 1% 0%;
	background-color: #787878;
}

nav li {
	display: inline;
	padding: 2% 4% 0%;
	font-size: 2em;
}

nav li a {
	text-decoration: none;
	color: #ededed;
}

nav li a:hover {
	background-color: #000000;
}

header {
	background-image: url("../images/rgb.jpg");
	height: 800px;
}

header h1, header h2 {
	text-align: center;
	margin: 2% 0;
	color: #ededed;
	font-size: 4em;
}

header  h1 {
	padding-top: 15%;
}

/* Body */

main h2 {
	float: left;
	padding-left: 2%;
	font-size: 2.5em;
}

/*
#bio p, #proj p {
	float: left;
	padding-left: 2%;
	font-size: 1.5em;
	display: inline-block;
}
*/

div {
	display: block;
}

img {
	max-width: 30%;
	float: right;
	padding: 1%;
}

#bio {
	background-color: #bf2128;
	display: block;
}

#proj {
	background-color: #2dba63;
}

#contact {
	background-color: #326da8;
}

/* Footer */