/* CSS Document */
/* CSS Resent */
* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background-color: #e4f2ea;
}

header {
	min-height: 300px;
	background-image: url("../images/home_beagle.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 10% 0;
}

header h1 {
	margin-left: 35%;
	color: #734f2f;
	font-weight: bold;
	font-size: 6em;
}

header h3 {
	margin-left: 35%;
	color: #11181e;
	font-size: 5em;
}

.hnav {
	padding: 5px 0;
	width: 100%;
	background-color: #11181E;
	min-height: 50px;
}

.hnav ul {
	display: block;
	text-align: center;
}

.hnav ul li {
	display: inline-block;
	list-style: none;
	width: 15%;
	margin-top: .8%;
}

.hnav a {
	color: #e4f2ea;
	text-decoration: none;
	font-size: 1.5em;
}

.hnav a:hover {
	text-decoration: none;
	background-color: beige;
	color: #11181E;
}

h1 {

}

main {
	width: 100%;
	min-height: 500px;
}

#container {
	padding: 3% 0;
	margin: 0 auto;
	width: 80%;
	min-height: 500px;
	font-size: 1.2em;
	color: #734f3f;
	/* background-color: red; */
}

#container img {
	float: left;
	margin-right: 2%;
	width: 50%;
	border: 6px solid #11181E;
}

h2 {
	text-align: center;
	color: black;
}

blockquote {
	font-size: 1.5em;
}

td, input {
	font-size: 1.3em;
}

.button {
	background-color: peru;
	border-radius: 3px;
	display: inline-block;
	margin: 3%;
}

.fnav {
	padding: 5px 0;
	width: 100%;
	background-color: #11181E;
	min-height: 50px;
}

.fnav ul {
	display: block;
	text-align: center;
}

.fnav ul li {
	display: inline-block;
	list-style: none;
	width: 15%;
	margin-top: .8%;
}

.fnav a {
	color: #e4f2ea;
	text-decoration: none;
	font-size: 1.5em;
}

.fnav a:hover {
	text-decoration: none;
	background-color: beige;
	color: #11181E;
}

footer h5, footer h6 {
	text-align: center;
	background-color: #11181E;
	color: white;
}